@use "../base/base.scss";

header{
    background-color: base.$headerColor;
    padding: 1rem;
    position: sticky;
    top:0;
    box-shadow: 10px 0px 10px base.$headerColor;
    z-index: 99;
    max-width: 100%;

    .container{
        max-width: 1360px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @media (max-width: 1024px){
            max-width: 80%;
        } 
        @media(max-width:640px){
            display: block;
            max-width: 90%;
        }
    }

    .header__logo{
        flex-wrap: nowrap;
        h1{
            color:#fff;
            font-size: 4rem;
            display: block;

            @media (max-width: 1024px){
                font-size: 2rem;
            }
            
            @media(max-width:640px){
                font-size: 2.5rem;
                align-items: center;
            }
            
        }
        span{
            color:base.$titleColor;
            font-size: 4rem;

            @media (max-width: 1024px){
                font-size: 2rem;
            }
            @media(max-width:640px){
                font-size: 2.5rem;
                align-items: center;
            }
            
        }
    }
        
    .header__nav{
        &__list{
            display: flex;
            list-style: none;
            align-items: center; 
            text-decoration: none;
            gap: 1rem;
            
            @media (max-width: 640px){
                display: flex;
                justify-content: center;
            }

            li{
                color: #fff;
                cursor: pointer;
                font-size: 2rem;
                
                &:hover{
                    transform: translateY(-5pix);
                    transition: all 0.2s;
                    font-weight: bold;
                    
                }
            }
        }

    }

    .nav__icon img{
        width: 110px;
        cursor: pointer;
        
        @media (max-width: 1300px){
            display: none;
        }
        @media(max-width:640px){
            display: none;
        }
    }
}
