@use "../base/base.scss";

.hero{
    padding-top: 64px;
    padding-bottom: 100px;

    &__col{
        color: base.$clockColor;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        gap: 2rem;
    }
    &__text{
        display: flex;
        margin: 0 auto;
    }
    &__button{
        border-radius: 6px;
        color: #fff ;
        background-color: base.$storeColor;
        font-size: 2rem;
        padding:10px 30px;

        @media (max-width: 1024px){
            font-size: 1.5rem;
            padding:5px 20px;
        }
        @media(max-width:640px){
            font-size: 1rem;
            padding:2.5px 10px;
        }

        &:hover{
            transform: translateY(-5pix);
            transition: all 0.2s;
            font-weight: bold;
            background-color: darken($color: base.$storeColor, $amount: 10);
        }
    }
}