@use "../base/base.scss";

.store{

    &__home{
        text-align: center;
        margin-bottom: 4rem;

        h3{
            font-size: 2rem;
            color: base.$storeColor;
        }
    }

    .cols{
        &__4{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-evenly;
            gap: 4rem 1rem;
            
            @media (max-width: 1024px){
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-evenly;
                gap: 5px;
            }

            @media(max-width:640px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: space-evenly;
                padding-left: 1px;
            }

            .product{
                
                &:hover{
                    transform: translateY(-5pix);
                    transition: all 0.2s;
                    font-weight: bold;
                }

                &__description{
                    font-size: 1.2rem;
                }
                img{
                    max-width: 100%;
                    border-radius: 8px;
                }
                
                @media (max-width: 1024px){
                    max-width: 95%;
                }

                @media(max-width:640px){
                    max-width: 95%;
                }
            }
        }
    }
    
}